<% layout('/layouts/boilerplate') -%>

<div class="alert alert-danger d-flex align-items-center mt-4" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      <%= err.statusCode %>
      <%= err.message%>
      <%= err.trace%>
    </div>
  </div>